<template>
  <div id="footer">
    <footer class="downloadApp">
      <hr />
      <h3>Download E-BOOK now!</h3>
      <img src alt="Android App" />
      <img src alt="IOS App" />
      <hr />
    </footer>
  </div>
</template>

<script>
export default {
    name: 'Footer'
};
</script>

<style scoped>
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

</style>