<template>
  <div class="root">
    <hr>

    <h2 class="title">Genres</h2>

    <div class="catalogu1 category1">
      <div class="catalogu c1">
        
        <h6>Fantasy</h6>
        
        <p>Immerse, Imagine, and Inspire</p>
      </div>

      <li v-for="x in 4" :key="x">
        <div :class="'catalogu c'+(x+1)">
          <h6> {{ fantasy[x-1].title }} </h6>
        </div>
      </li>

      <!-- <div class="catalogu c3">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c4">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c5">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div> -->
    </div>

    <div class="catalogu2 category2">
      <div class="catalogu c12">
        
        <h6>Comedy</h6>
        
        <p>Good laughter is all we need.</p>
      </div>

      <li v-for="x in 4" :key="x">
        <div :class="'catalogu c'+(x+1)+'2'">
          <h6> {{ comedy[x-1].title }} </h6>
        </div>
      </li>

      <!-- <div class="catalogu c22">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c32">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c42">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c52">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div> -->
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data(){
    return {
      fantasy: [],
      comedy: []
    }
  },
  mounted() {
    const comedyurl = 'http://localhost:3000/api/genres/comedy';
    axios
    .get(comedyurl)
    .then(request => {
      this.comedy = request.data
    })
    .catch(error => console.log(error.response));

    const fantasyurl = 'http://localhost:3000/api/genres/action';
    axios
    .get(fantasyurl)
    .then(request => {
      this.fantasy = request.data
    })
    .catch(error => console.log(error.response));
  }
};
</script>

<style scoped>
li {
  list-style-type: none;
}
.root {
  width: 100%;
  height: 550px;
  margin-left: 0px;
  /* border: 1px solid black; */
}
.title {
  margin-right: 100px;
}
/* .catalogu1 {
  border: 1px solid black;
  height: 250px;
}

.catalogu2 {
  border: 1px solid black;
  height: 250px;
} */
/* .catalogu .catalogu2 {
    border: 1px solid black;
    width: 210px;
    height: 210px;
} */
.catalogu {
  height: 210px;
  width: 210px;
  background-color: white;
}
.catalogu2{
  height: 210px;
  width: 210px;
}
.c1 {
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 100px;
  
}
.c2 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 330px;
}
.c3 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 560px;
}
.c4 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 790px;
}
.c5 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 1020px;
}

.c12 {
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 100px;
}
.c22 {
  border: 1px solid black;
  margin-top: -210px;
  margin-left: 330px;
}
.c32 {
  border: 1px solid black;
  margin-top: -210px;
  margin-left: 560px;
}
.c42 {
  border: 1px solid black;
  margin-top: -210px;
  margin-left: 790px;
}
.c52 {
  border: 1px solid black;
  margin-top: -210px;
  margin-left: 1020px;
}

</style>