<template>
  <header id="root">
    <ul class="left">
      <li>
        <a href="/">
          <img src="../assets/webtoonlogo.png" alt="Logo" href="../views/Home" />
        </a>
      </li>
      <div class="category">
        <router-link to="/originals">ORIGINALS</router-link>
        <!-- <li>ORIGINALS</li> -->
        <router-link class="rout" to="/genres">GENRES</router-link>
        <router-link class="rout" to="/popular">POPULAR</router-link>
        <router-link class="rout" to="/canvas">CANVAS</router-link>
      </div>
    </ul>

    <ul class="right">
      <ul tabs align="right">
        <li class="creator">CREATORS 101</li>
        <li class="publish">Publish</li>
        <li>
          <img src alt="Pic" />
        </li>
        <li>USERNAME <a href ="../component/LoginComponent"></a></li>
      </ul>
    </ul>
    <hr />
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
* {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
/* #root {
  border: 1px solid black;
}  */
#root ul li {
  display: inline;
  margin: 7px;
}
#root .left {
  position: relative;
  margin-left: -900px;
  margin-top: -95px;
}
#root .right {
  position: relative;
  margin-left: -100px;
  margin-top: -30px;
}
.creator {
  margin-right: 15%;
}
#root ul li img {
  width: 100px;
  height: 100px;
  margin-left: -400px;
  margin-top: 30px;
}
.right {
margin-right: 300px;
}

.right li img {
  width: 120px;
  height: 120px;
}
.category {
  margin-top: -65px;
  margin-left: 170px;
}
.rout {
  /* border: 1px solid black; */
  margin: 15px;
}
</style>