<template>
  <div class="root">
    <div class="byAge">
      <h3 class="titulliKategorisbyGenre">Most Popular by Genre ></h3>
      <hr class="hr" />
      <li v-for="x in 4" :key="x">
        <!-- <hr class="hr" /> -->
        <div :class="'a1'">
          <img class="a1Img" src alt="IMG" />
          <p class="a1Kategori">Comedy</p>
          <h3 class="a1Titull">{{ genre[x - 1].title }}</h3>
          <p class="a1Autor">autor</p>
        </div>

        <hr class="hr" />
      </li>
    </div>

    <div class="byGenre">
      <h3 class="titulliKategorisbyAge">Most Popular by Age Group ></h3>

      <hr class="hr2" />

      <li v-for="x in 5" :key="x">
        <div :class="'g1'">
          <img class="g1Img" src alt="IMG" />
          <p class="g1Kategori">{{ group[x].titulli}}</p>
          <h3 class="g1Titull"> {{ group[x].title}} </h3>
          <p class="g1Autor">autor</p>
        </div>

        <hr class="hr2" />
      </li>

      
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      genre: [],
      group: []
    };
  },
  mounted() {
    const comedyurl = "http://localhost:3000/api/genres/action";
    axios
      .get(comedyurl)
      .then(request => {
        this.genre = request.data;
      })
      .catch(error => console.log(error.response));

    const groupurl = "http://localhost:3000/api/katalog";
    axios
      .get(groupurl)
      .then(response => {
        this.group = response.data;
      })
      .catch(error => console.log(error.response));
  }
};
</script>

<style scoped>
li {
  list-style-type: none;
}
.root {
  /* border: 1px solid black; */
  width: 100%;
  height: 700px;
}
.byAge {
  /* border: 1px solid black; */
  width: 50%;
  height: 700px;
  margin-top: 0px;
}
.byGenre {
  /* border: 1px solid black; */
  width: 50%;
  height: 700px;
  margin-left: 50%;
  margin-top: -740px;
}
.hr {
  width: 550px;
  margin-left: 15%;
}
.hr2 {
  width: 500px;
  margin-left: 9%;
}
.titulliKategorisbyGenre {
  /* border: 1px solid black; */
  width: 500px;
  margin-left: 15%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}
.titulliKategorisbyAge {
  /* border: 1px solid black; */
  width: 500px;
  margin-left: 9%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}
.a1 {
  /* border: 1px solid black; */
  width: 500px;
  height: 100px;
  margin-left: 15%;
}
.a1Img {
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
  margin-left: -400px;
  margin-top: 30px;
}
.a1Kategori {
  /* border: 1px solid black; */
  width: 200px;
  margin-left: 100px;
  font-size: 15px;
  margin-top: -40px;
  text-align: left;
}
.a1Titull {
  /* border: 1px solid black; */
  width: 350px;
  margin-left: 100px;
  margin-top: -15px;
  text-align: left;
}
.a1Autor {
  /* border: 1px solid black; */
  width: 200px;
  margin-top: -15px;
  margin-left: 100px;
  text-align: left;
}

/* By Gemre */
.g1 {
  /* border: 1px solid black; */
  width: 500px;
  height: 100px;
  margin-left: 9%;
}
.g1Img {
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
  margin-left: -400px;
  margin-top: 30px;
}
.g1Kategori {
  /* border: 1px solid black; */
  width: 200px;
  margin-left: 100px;
  font-size: 15px;
  margin-top: -40px;
  text-align: left;
}
.g1Titull {
  /* border: 1px solid black; */
  width: 350px;
  margin-left: 100px;
  margin-top: -15px;
  text-align: left;
}
.g1Autor {
  /* border: 1px solid black; */
  width: 200px;
  margin-top: -15px;
  margin-left: 100px;
  text-align: left;
}
</style>