<template>
  <div v-if="series.length != 0" class="root">
    <hr />
    <h3 class="title">New To E-BOOK</h3>

    <li v-for="x in 4" :key="x">
      <div :class="'catalog c'+x">
        <h6> {{series[x-1].title}} </h6>
        <p> {{series[x-1].titulliKategorie}} </p>
      </div>
    </li>
    <!-- <div class="catalog c1">
      <img src alt="img" />
      <h6>Title</h6>
      <p>Likes</p>
      <p>Category</p>
    </div>

    <div class="catalog c2">
      <img src alt="img" />
      <h6>Title</h6>
      <p>Likes</p>
      <p>Category</p>
    </div>

    <div class="catalog c3">
      <img src alt="img" />
      <h6>Title</h6>
      <p>Likes</p>
      <p>Category</p>
    </div>

    <div class="catalog c4">
      <img src alt="img" />
      <h6>Title</h6>
      <p>Likes</p>
      <p>Category</p>
    </div> -->

    <!-- <li v-for="x in 4" :key="x">
      <div :class="'catalog c'+x">
        <img src alt="img" />
        <h6>{{ series[x].id }}</h6>
        <p>Likes</p>
        <p></p>
      </div>
    </li> -->

    <!-- <li v-for="x in 4" :key="x">
      <div :class="'catalog c' + x">
        <h6> {{ series[x].title }} </h6>
        <p>Likes</p>
        <p> {{ series[x].genre1 }} </p>
      </div>
    </li> -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      series: []
    };
  },
  mounted() {
    const url = 'http://localhost:3000/api/newto';

    axios
      .get(url)
      .then(response => {
        this.series = response.data;
      })
      .catch(error => {
        console.log(error.response);
      });
  }
};
</script>

<style scoped>
li {
  list-style-type: none;
}
.root {
  height: 320px;
  width: 100%;
}
.catalog {
  border: 1px solid black;
  height: 210px;
  width: 210px;
}
.c1 {
  margin-left: 100px;
}
.c2 {
  margin-left: 330px;
  margin-top: -212px;
}
.c3 {
  margin-left: 560px;
  margin-top: -212px;
}
.c4 {
  margin-left: 790px;
  margin-top: -212px;
  width: 440px;
}
</style>