<template>
  <div class="root">
      <div class="container">
      <div class="row">
        <div class="col my-col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
        <div class="col">
          <h5 class="title">Title</h5>
          <img src class="img" alt="img" />
          <p class="kategori">Kategori</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.root {
height:300px ;
}
.container {
    border: 1px solid black;
    /* padding: 10px; */
    background-color: white;
}
.col {
    border: 1px solid black;
    margin-right: 9px;
    height: 150px;
}
.title {
    /* border: 1px solid black; */
    text-align: left;
    margin-left: -10px;
}
.img { 
    justify-content: center;
}
.kategori {
    /* border: 1px solid black; */
    text-align: left;
    margin-left: -10px;
    margin-top: 10px;
    font-size: 0.7rem;
}
</style>