<template>
  <div class="root">
    <hr>

    <h2>Te rekomanduara</h2>

    <div class="rek">
         
      <div class="rekL">
        <img src alt="img" />
        <h6>Title</h6>
        
        <p>Category</p>
      </div>

      <div class="rekL">
        <img src alt="img" />
        <h6>Title</h6>
        
        <p>Category</p>
      </div>

      <div class="rekL">
        <img src alt="img" />
        <h6>Title</h6>
       
        <p>Category</p>
      </div>

      <div class="rekL">
        <img src alt="img" />
        <h6>Title</h6>
        
        <p>Category</p>
      </div>

      <div class="rekL">
        <img src alt="img" />
        <h6>Title</h6>
        
        <p>Category</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style  scoped>

.rek {
     display: inline-block;
     position:absolute;
     width: 80%;
     height: 300px;
     display: flex;
     margin-left:200px;
     overflow-x: auto;
     scroll-snap-type: x mandatory; 
     background-image:url("../assets/canvasfoto.png") ;
     background-size: contain;
     background-size: 100% 100%;
     scroll-behavior: smooth;
  
}
.rekL {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    scroll-margin: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid black;
}

h6 {
    padding-top:200px ;
    margin-left: 70px;
    color:white;
}
p {
    padding-top: 150px;
    padding-right: 90px;
    color: red;
    text-align: center;
}

</style>