<template>
  <div class="root">
    <hr>

    <h2>Serit e Javes</h2>

    <div class="catalogu1 category1">
      <div class="catalogu c1">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c2">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c3">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c4">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>

      <div class="catalogu c5">
        <img src alt="img" />
        <h6>Title</h6>
        <p>Likes</p>
        <p>Category</p>
      </div>
   
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.root {
  width: 100%;
  height: 300px;
  margin-left: 200px;
  margin-right: 30px;
  
}
h2 {
  margin-right: 450px;
}

.catalogu {
  height: 210px;
  width: 210px;
  background-color: white;
}
.catalogu2{
  height: 210px;
  width: 210px;
}
.c1 {
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 100px;
  
}
.c2 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 330px;
}
.c3 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 560px;
}
.c4 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 790px;
}
.c5 {
  border: 1px solid black;
  margin-top: -212px;
  margin-left: 1020px;
}

</style>