<template>
    <div class="signup">
        <form method="post">
            <h3>Sign Up</h3>

            
            <div class="form-group">
                <label>NickName</label>
                <input type="text" class="form-control form-control-lg" maxlength="64" />
            </div>

            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control form-control-lg" maxlength="64" />
                
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" maxlength="" />
            </div>
      <div class="button">
            <button type="submit" class="btb btn-dark btn-lg btn-block">Sign In</button>
           
</div>
           

        </form>
    </div>
</template>




<script>
export default {};
</script>


<style scoped>
.signup{
  background-color:#E6E6FA;
  width: 1000px;
  margin-left: 385px;
  height: 500px;
  display: flex;
  flex-grow: initial;
  position:center;
   
}
input{
   background-color: white;
}
h3{
  margin-left: 200px;
}
label{
  margin-left: 200px;
}
input{
  margin-left: 200px;
  width: 500px;
}
form{
  padding-top: 50px;
}
button{
  margin-left: 400px;
  width: 100px;
}



</style>