<template>
  <div id="root">
    <!-- <hr> -->
    <div class="mainSlide">
      <!-- <a href> -->
      <!-- <v-img :src = "require(img)" alt="Slide" /> -->
      
      <!-- <img :src="require(`../assets/img/${img}`)" /> -->
      <h3>{{img}}</h3>
      <!-- </a> -->
    </div>

    <div class="howToPublish">
      <a href>
        <!-- <img src="../assets/img/1599746535251dormin.jpg" alt="How to publish" /> -->
      </a>
    </div>

    <div class="downloadApp">
      <a href>
        <img src alt="Download" />
      </a>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      img: "",
      title: ""
    };
  },
  mounted() {
    var imgpath = "";
    var url = "http://localhost:3000/api/serie/24";
    axios
      .get(url)
      .then(
        response => (
          (this.title = response.data[0].title),
          (this.img = response.data[0].thumbnail)
        )
      )
      .catch(error => console.log(error))
      .finally(() => {
        imgpath = this.img.split("..img");
        // this.img = "../assets/img/" + imgpath[1];
        this.img = imgpath[1];
        console.log(this.img)
      });
  }
  // mounted() {
  //   // const proxyurl = "https://cors-anywhere.herokuapp.com/";
  //   const url = "http://localhost:3000/api/serie/24";
  //   axios
  //     .get(url)
  //     .then(response => {
  //       this.info = response.data[0].userId;
  //     })
  //     .catch(error => console.log(error.response));
  // }
};
</script>

<style scoped>
#root {
  height: 300px;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 100px;
}
.mainSlide {
  height: 250px;
  width: 60%;
  margin-left: 7.5%;
  margin-top: 25px;
  border: 1px solid black;
}
.howToPublish {
  height: 100px;
  width: 20%;
  border: 1px solid black;
  margin-left: 72.5%;
  margin-top: -250px;
}
.downloadApp {
  border: 1px solid black;
  height: 110px;
  width: 20%;
  margin-left: 72.5%;
  margin-top: 30px;
  /* transform: ; */
}
</style>