

<template>
  <div class="root">
      <hr>
      <ul class="kategorit">
          <li>DRAME</li>
          <li>KOMEDI</li>
          <li>AKSION</li>
          <li>ROMANC</li>
          <li>SLICE OF LIFE</li>
          <li>SUPERHERO</li>
          <li>SCI-FI</li>
         <li>TRILLER</li>
         <li>SUPERNATYROR</li>
         <li>Me Shume</li>
      </ul>
      <select name ="zhjedhja">
          <option value="populariteti"> prejPopullaritetit</option>
          <option value="like"> prejPelqimit</option>
          <option value="data"> prejDates</option>
      </select>
  </div>
</template>


<script>
export default {

}
</script>

<style scoped>
.root {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 50px;
    
}
.kategorit li {
    
   display: inline-block;
       margin-right: 80px;
    font-size: 12px;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
     position: relative;
    clear: both;
    position: relative;
    z-index: 20;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    text-align: center;
    padding: 8px 0 9px
   
}

</style>