<template>
  <div id="app">
    <!-- <input type="file" @change="onFileChanged" />
    <ul v-if="selectedFile != null">
      <li v-for="c in selectedFile" :key="c.name">{{ c.name }}</li>
    </ul>
    <button @click="onUpload">Upload!</button>-->

    <!-- <form action="http://localhost:8000/" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload" multiple />
      <br />
      
      <input type="submit" />
    </form> -->
  
    <form action="http://localhost:4000/verify" method="get">
      <input type="submit">
    </form>
  </div>
</template>

<script>
import axios from "axios";
// var formidable = require('formidable');

export default {
  data() {
    return {
      selectedFile: []
    };
  },
  methods: {
    onFileChanged(event) {
      this.selectedFile.push(event.target.files[0]);
    },
    onUpload() {
      // upload file, get it from this.selectedFile
    }
  },
  mounted() {
    // const proxyurl = "https://cors-anywhere.herokuapp.com/";
    const url = "http://localhost:8000/";
    axios
      .get(url)
      .then(response => {
        this.info = response.data[0].userId;
      })
      .catch(error => console.log(error.response));
  }
};
</script>

<style></style>
