
<template>
  <div class="root">
    <Header />

    
    <ZhanretComponent />

    <SeriatERekomanduaraComponent />

    <SeritEJavesComponent />
    


  </div>
</template>


<script>
import Header from "../components/HeaderComponent";
import ZhanretComponent from "../components/ZhanretComponent";
import SeriatERekomanduaraComponent from "../components/SeriatERekomanduaraComponent"
import SeritEJavesComponent from "../components/SeritEJavesComponent"

export default {
  components: {
    Header,
    ZhanretComponent,
    SeriatERekomanduaraComponent,
    SeritEJavesComponent,
  }
};
</script>
<style scoped>
.es {
  border: 1 px sodil black;
}
</style>