<template>
  <div class="root">
    <Header />
    <CreateSeries />
  </div>
</template>

<script>
import Header from "../components/HeaderComponent";
// import axios from "axios";
import CreateSeries from "../components/CreateSeriesComponent";

export default {
  components: {
    Header,
    CreateSeries
  }

};
</script>

<style>
</style>