<template>
  <div class="root">
    <Header />

    <CreateEpisodes />
  </div>
</template>

<script>
import Header from "../components/HeaderComponent";
import CreateEpisodes from "../components/CreateEpisodesComponent";

export default {
  components: {
    Header,
    CreateEpisodes
  }
};
</script>

<style>
</style>