<template>
  <div class="root">
    <Header />

    
    <EpisodeComponent />

  </div>
</template>


<script>
import Header from "../components/HeaderComponent";
import EpisodeComponent from "../components/EpisodeComponent";

export default {
    name: "Episode",
    components: {
    Header,
   EpisodeComponent,
  }
};
</script>

<style>
</style>