

<template>
  <div class="root">
    <Header />

    
    <ZhanretComponent />

    <GenersComponent />

  </div>
</template>


<script>
import Header from "../components/HeaderComponent";
import GenersComponent from "../components/GenresComponent";
import ZhanretComponent from "../components/ZhanretComponent";

export default {
  components: {
    Header,
    ZhanretComponent,
    GenersComponent
  }
};
</script>
<style scoped>
.es {
  border: 1 px sodil black;
}

</style>