<template>
  <div class="home">
    <!-- Header -->
    <Header />

    <!-- Main Slide -->
    <slider />
    <!-- Ditet -->
    <Ditet />
    <!-- Catalog -->
    <Catalog />
    <!-- New to Ebook -->
    <NewToEbook />

    <!-- Genres -->
    <Genres />
    <!-- Footer -->

    <!-- Most Popular by -->
    <MostPopularBy />

    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "../components/HeaderComponent";
import Footer from "../components/FooterComponent";
import Slider from "../components/SliderComponent";
import Ditet from "../components/DitetEJaves";
import Catalog from "../components/CatalogComponent";
import NewToEbook from "../components/newToEbook";
import Genres from "../components/GenresComponent";
import MostPopularBy from "../components/MostPopularBy";

export default {
  name: "Home",
  components: {
    Header,
    Footer,
    Slider,
    Ditet,
    Catalog,
    NewToEbook,
    Genres,
    MostPopularBy
  }
};
</script>
