<template>
  <div class="root">
    <Header />

    <logincomponent />

    <Footer />
  </div>
</template>

<script>
import Header from "../components/HeaderComponent";
import Footer from "../components/FooterComponent";
import logincomponent from "../components/LoginComponent";

export default {
  name: "Login",
  components: {
    Header,
    Footer,
    logincomponent
  }
};
</script>

<style>
</style>