<template>
  <div class="root">
    <Header />
    <div class="onGoingAndCompleted">
      <button class="ongoing">ONGOING</button>
      <button class="completed">COMPLETED</button>
    </div>
    <!-- Ditet -->
    <Ditet />
    <!-- Katalogu -->
    <OriginalsCatalog />

  </div>
</template>


<script>
import Header from "../components/HeaderComponent";
import Ditet from "../components/DitetEJaves";
import OriginalsCatalog from "../components/OriginalsCatalogComponent";

export default {
  components: {
    Header,
    Ditet,
    OriginalsCatalog
  }
};
</script>

<style>
.onGoingAndCompleted {
  width: 100%;
  height: 5rem;
  border: 1px solid black;
}
.ongoing {
  width: 150px;
  height: 70px;
  background-color: white;
  border: none;
}
.completed {
  width: 150px;
  height: 70px;
  background-color: white;
  border: none;
}
.ongoing .completed :hover {
  text-decoration-color: lawngreen;
}
</style>