<template>
  <div class="root">
    <Header />

    <MostPopularBy />

  </div>
</template>

<script>
import Header from "../components/HeaderComponent";
import MostPopularBy from "../components/MostPopularBy";

export default {
  components: {
    Header,
    MostPopularBy
  }
};
</script>

<style  scoped>

.byAge {
        display:inline-flex;
        flex-direction: column;
        float: left;
        width: 50%;
        height: 700px;
        margin-top: 200px;
}
.byGenre {
        display:inline-flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
        margin-left: 50%;
        margin-top: 200px;
}

</style>