<template>
  <div class="root">
    <Header />

    <SignupComponent />

    <Footer />
  </div>
</template>

<script>
import Header from "../components/HeaderComponent";
import Footer from "../components/FooterComponent";
import SignupComponent from "../components/SignupComponent";

export default {
  name: "Signup",
  components: {
    Header,
    Footer,
   SignupComponent
  }
};
</script>

<style>
</style>