<template>
  <form>
    <button @click="send2()">Send</button>
    <!-- <input type="submit" value="Dergo"> -->
  </form>
</template>

<script>
import axios from "axios";
const jwt = require("jsonwebtoken");

export default {
  methods: {
    // send() {
    //   const url = "http://localhost:4000/";
    //   axios
    //     .get(url, {
    //       Headers: {
    //         JWT:
    //           "eyJhbGciOiJIUzI1NiJ9.VGF1bGFudA.n8HdM1Q-hmT3uxPTOnO2FpyVJTXZKvbsztq3LiNX5NY"
    //       }
    //     })
    //     .then(res => console.log(res.response))
    //     .catch(err => console.log(err.response));
    // },
    send2() {
      const qs = require("qs");
      const url = "http://localhost:4000/get-from-axios";
      const data = { name: "Taulant" };
      const options = {
        method: "GET",
        headers: {
          JWT:
            "eyJhbGciOiJIUzI1NiJ9.VGF1bGFudA.n8HdM1Q-hmT3uxPTOnO2FpyVJTXZKvbsztq3LiNX5NY"
        },
        data: qs.stringify(data),
        url
      };
      axios(options);
    }
  },
  mounted() {
    var token =
      "eyJhbGciOiJIUzI1NiJ9.VGF1bGFudA.n8HdM1Q-hmT3uxPTOnO2FpyVJTXZKvbsztq3LiNX5NY";
    if (typeof token == "undefined") {
      console.log("we are at the if");
      this.$router.push("/");
    } else {
      console.log("we are at the else");
      var secret_key = "shhhhh";
      var tokenValue = jwt.verify(token, secret_key);
      console.log(tokenValue);
    }
  }
};
</script>

<style>
</style>